/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  display: inline-block;
  float: left;
}

@media only screen and (min-width: 768px) {
/* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

:root {
  --primary-color: black;
  --bg-color: white;
  --secondary-color: grey;
  --highlight-color: #EAC67A;
  --highlight-bold-color: #984B43;
  --highlight-bold-dark: #ff4B43;
  --heading-font: 'Fjalla One', sans-serif;
  --body-font: 'Open Sans', sans-serif;
}

.content {
    box-sizing: border-box;
    height: 100%;
}

a {
  text-decoration: none;
  font-family: var(--heading-font);
  font-size: 1em;
  font-weight: bold;
  color: var(--highlight-bold-color);
}

a:hover, a:active {
  color: var(--highlight-bold-dark);
}

/* Asides */

.more-info {
    font-weight: bold;
    font-style: italic;
    position: relative;
    display: inline-block;
    color: var(--highlight-bold-color);
}

.more-info .more-info-text {
    font-weight: normal;
    font-style: normal;
    visibility: hidden;
    width: 400px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -200px;
}

.more-info .more-info-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.more-info:hover .more-info-text {
    visibility: visible;
}
